$light: rgba(218, 237, 251, 1);
$light-t: rgba(218, 237, 251, 0.9);
$error: rgba(212, 66, 53, 1);
$dark: rgba(89, 98, 85, 1);
$secondary: rgb(10, 84, 255);
$primary: rgb(15, 26, 67);
$secondary-t: rgba(10, 84, 255, 0.6);
$primary-t: rgba(15, 26, 67, 0.93);

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;

    padding: 100px 30px;
    background-color: $secondary-t;

    .carousel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 899px) {
            flex-direction: column;
        }

        .portfolioItem {
            position: relative;

            
            img {
                width: 100%;
                height: auto;
                
                border: 5px solid $light;
                border-radius: 3px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

                transition: filter 200ms ease-in-out;

            }

            
            p {
                position: absolute;
                left: 50%;
                top: 50%;

                font-size: 24px;
                font-weight: 600;
                text-align: center;
                text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);

                transform: translate(-50%, -50%);
                opacity: 0;

                transition: opacity 200ms ease-in-out;
            }

            &:hover {
                img{
                    filter: blur(1.5px) contrast(60%) grayscale(40%) brightness(60%);
                }

                p {
                    opacity: 1;
                }
            }
        }
    }

    @media screen and (max-width: 899px) {
        .horizontalSlider {
                display: none;
            }
        }
    
    @media screen and (min-width: 900px) {
        .verticalSlider {
                display: none;
            }
        }
    }
