@use '../util/colors.scss';

#portfolio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 100px);

    padding: 90px 30px;
    background-color: colors.$primary-t;

    h2 {
        font-size: 2.2em;
        text-align: center;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);

        @media screen and (max-width: 650px) {
            font-size: 1.6em;
        }
    }


    .carousel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 899px) {
            flex-direction: column;
        }

        
    }

    @media screen and (max-width: 899px) {
        .horizontalSlider {
                display: none;
            }
        }
    
    @media screen and (min-width: 900px) {
        .verticalSlider {
                display: none;
            }
        }
    }
