@use '../util/colors.scss';

.portfolioItem {
    position: relative;

    
    img {
        width: 100%;
        height: auto;
        
        border: 3px solid colors.$light-t;
        border-radius: 3px;
        box-shadow: 5px 5px 10px colors.$dark-t;

        transition: filter 200ms ease-in-out, transform 200ms ease-in-out;
    }

    p {
        position: absolute;
        left: 50%;
        top: 50%;

        font-size: 1.6em;
        @media screen and (max-width: 699px) {
            font-size: 1.3em;
        }

        font-weight: 500;
        text-align: center;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
        line-height: 1.6em;

        transform: translate(-50%, -50%) scale(1.4);
        opacity: 0;

        transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    }

    &:hover {
        img{
            filter: blur(1.5px) contrast(60%) grayscale(40%) brightness(50%);
            transform: scale(0.98);
        }

        p {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
    }
}